body {
	margin: 0;
	background: #f7f7f7;
	h1 {
		font-family: 'Questrial', sans-serif;
		color: #383838;
	}
	h2 {
		font-family: 'Raleway', sans-serif;
		line-height: 18pt;
		color: #383838;
		font-weight: 300;
	}
	p {
		font-family: 'Raleway', sans-serif;
		line-height: 18pt;
	}
	button {
		border-radius: 30px;
		padding: 16px 26px 16px 26px;
		background: linear-gradient(to top right, #A1CFAD, #4EA99D);
		color: #fff;
		border: 0;
		text-transform: uppercase;
		font-family: 'Raleway', sans- serif;
		letter-spacing: 2px;
		font-weight: bold;
		box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
		transition: transform .2s;
		outline: none;
		&:hover {
			transform: scale(1.04);
		}
	}
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.hero {
	height: 115vh;
	width: 100%;
    background: url('images/herobg2.svg') no-repeat center center;
    background-size: cover;
}

.content {
	margin: 0 auto;
	width: 90%;
	.block {
		width: 100%;
		border-radius: 14px;
		min-height: 200px;
		background: #fff;
		box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
		&.tech {
			margin-top: -15vh;
			display: inline-grid;
			grid-template-columns: auto auto auto;
			justify-content: space-evenly;
			align-content: center;
			padding: 20px;
			box-sizing: border-box;
			.icon {
				text-align: center;
				box-sizing: border-box;
				padding: 5px;
				h3 {
					font-family: 'Questrial', sans-serif;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 11px;
					text-align: center;
				}
       			transition: transform .2s;
			&:hover {
				transform: scale(1.03);
			}
			}
			img {
				max-width: 100px;
				max-height: 100px;
				border-radius: 50%;
			}
		}
		&.work {
			display: grid;
			box-sizing: border-box;
			grid-template-columns: 100%; 
			grid-template-rows: auto auto; 
      grid-template-areas:
        "image"
        "description";
			margin: 75px 0 75px 0;
			transition: transform .2s;
			&:hover {
				transform: scale(1.01);
			}
			.image{
				background: url("https://via.placeholder.com/300x300/") no-repeat center center;
				background-size: cover;
				border-radius: 10px 10px 0 0;
        min-height: 200px;
        grid-area: image;
			}
			.description {
				font-family: Avenir;
				padding: 0px 30px 30px 30px;
        justify-self: stretch;
        grid-area: description;
				h1 {
					font-size: 25pt;
					margin-bottom: 18px;
				}
				h2 {
					font-size: 12pt;
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: #888;
				}
			}
		}
	}
}

.invisi {
	display: grid;
	grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "pic"
    "about"
    "icons";
  padding: 0;
	margin: 50px;
  
  
	.about {
    grid-area: about;
    h1 {
			font-size: 30px;
      line-height: 20px;
		}
    h2 {
      font-size: 20px;
      line-height: 20px;
    }
    p {
      
    }
	}

  .pic {
    grid-area: pic;
    text-align: center;
      img {
			  max-width: 280px;
			  max-height: 280px;
			  border-radius: 50%;
        flex: 1;
      }
    }
   .buttons {
            display: flex;
            grid-area: icons;
            text-align: center;
            justify-content: space-evenly;
            padding: 20px;
     
             i {
               font-size: 50px;
               color: #ccc;
               transition: all .2s;
               
               &:hover {
                 transform: scale(1.04);
                 color: #bbb;
               }
            }
		
	}
}

.footer {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
	min-height: 60vh;
    background: url('images/footerbg.svg') no-repeat top center;
    background-size: cover;
  h1 {
    color: #fff;
    font-size: 30px;
  }
	button {
		margin: 10px;
    padding: 15px 35px 15px 35px;
	}
  


  .contact {
    text-align: center;
	  padding: 40px;
  }
}



@media only screen and (min-width: 700px) {
  .content {
    width: 80%;
  }
    .invisi {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "about pic"
      "about icons"
      "about icons"
      "about icons";
      
      .about {
        
        h2 {
          font-size: 24px;
        }
      }
    .pic {
      img {
      max-width: 180px;
      max-height: 180px;
      }
      }
      
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        i {
          font-size: 35px;
          padding: 10px;
        }
      }
    
  }
  
  .block {
    &.work {
			grid-template-columns: 50% !important;
			grid-template-rows: auto !important;
      grid-template-areas:
        "image description" !important;
      
      &:nth-child(even) {
        grid-template-areas:
          "description image" !important;
        text-align: right;
        
        .image {
          border-radius: 0 10px 10px 0 !important;
        }
      }
      
     .image {
  border-radius: 10px 0 0 10px !important;
    }
    
    .description {

    }
      
    }
    
 
  }
     
  }

@media only screen and (min-width: 1000px) {
  .content {
    width: 900px;
  }
  
  .block {
    &.tech {
      padding: 40px !important;
    }
  }
}

  


